@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}
body{
  font-family: 'Nunito', sans-serif;
}
.navbar{
  padding-bottom: 1.5px;
  padding-top: 1.5px;
}
.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #828282;

}
.navbar-nav .nav-link:hover{
  color:  #D20653;
  background-image: url('~/assets/images/rectangle-3.png');
  background-repeat: no-repeat;
  background-position: center bottom; 
}
.nav-link {
  padding-bottom: 24px;
  padding-top: 24px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: 700;
  color:  #D20653;
  background-image: url('~/assets/images/rectangle-3.png');
  background-repeat: no-repeat;
  background-position: center bottom; 
}
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover {
  color:  #828282;
  
}
@media (max-width: 991px) {
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-image: none;
  } 
}
.btn {
  background: linear-gradient(90deg, #D20653 0%, #FF951D 100%);
}
.btn:hover {
  background: linear-gradient(90deg,  #FF951D 0%, #D20653 100%);
}
